


  <section class="product-area">
    <h3>Cart</h3>

    <div>
      Cart Total: {{totalCartAmount | currency  }}

      Cart Items: {{totalItems}}
    </div>

    <div *ngIf="totalItems>0">
      <a routerLink="/checkout" routerLinkActive="active">Check-out</a>

    </div>

    <div class="product-list">
     


      <div class="product" *ngFor="let product of cart">
        <div class="product-image-holder">
          <img src="/assets/images/apple-item.png" [alt]="product.product_name" class="product-image" />
        </div>
        <div class="product-details">
          <p class="product-details__name">{{ product.product_name }}</p>
          <p class="product-details__price">${{ product.price }}</p>
        </div>
        <div class="product-description">
          <p>{{ product.description }}</p>
        </div>
      </div>
    </div>
  </section>

