<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-header></app-header>
</div>
<nav>
  <a routerLink="/products" routerLinkActive="active">Home</a>
  <a routerLink="/storeSelect" routerLinkActive="active">Change Store</a>
  <a routerLink="/cart" routerLinkActive="active">Cart</a>
  <a routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn$">Login</a>
  <a class="nav-item nav-link" (click)="logout()" *ngIf="isLoggedIn$">Logout</a>
  <!-- <li *ngIf="isLoggedIn$ | async"><a (click)="logout()">Logout</a></li> -->
  
  <!-- <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a> -->
</nav>



<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<!-- <router-outlet name="popup"></router-outlet> -->