<div class="product">
  <div class="product-image-holder">
    <img src="/assets/images/apple-item.png" [alt]="product.product_name" class="product-image" />
  </div>
  <div class="product-details">
    <p class="product-details__name">{{ product.product_name }}</p>
    <p class="product-details__price">${{ product.price }}</p>
  </div>
  <div class="product-description">
    <p>{{ product.description }}</p>
  </div>
  <div class="product-actions">
    <button
      class="product-actions__add"
      (click)="addToCart(product)"
      *ngIf="!inCart"
    >
      <img src="/assets/images/add-to-cart.png" alt="add to cart" />
    </button>
    <button
      class="product-actions__remove"
      (click)="removeFromCart(product)"
      *ngIf="inCart"
    >
      <img src="/assets/images/remove-from-cart.png" alt="remove from cart" />
    </button>
  </div>
</div>
